.landing-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    min-height: 90vh;
}
.landing-left{
    
}
.landing-right{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width:50%;
    margin-left: auto;
    min-height: 90vh;
}
.gradient {
  position: absolute;
  max-width: 380px;
  top: 6rem;
  object-fit: contain;
  z-index: 0;
}

.iphone {
  position: absolute;
  max-width: 300px;
  object-fit: contain;
  z-index: 10;
  right: 0rem;
}
@keyframes iPhoneMoving {
    0%{
        top:0.5rem;
    }
    20%{
        top:1.3rem;
    }
    50%{
        top:2.5rem;
    }
    70%{
        top:5rem;
    }
    90%{
        top:3.8rem;
    }
    95%{
        top:2rem;
    }
    100%{
        top:1rem;
    }
}
.heading-1,.heading-2{
    font-size: 5rem;
    margin: 0;
    font-weight: 800;
}
.heading-1:hover{
    -webkit-text-stroke: 2px var(--white);
    color:var(--black);
    transition: all 0.3s;
}
.heading-2{
color:var(--blue);
}
.para{
    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 50;
}
.btn-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
}
@media only screen and (max-width: 1250px) {
  .landing-left {
    width: 60%;
  }

  .gradient {
    max-width: 250px;
    top: 4rem;
  }
  .iphone {
    max-width: 300px;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1050px) {
  .gradient {
    max-width: 230px;
    top: 3rem;
  }
  .iphone {
    max-width: 280px;
  }
  .heading-1,
  .heading-2 {
    font-size: 4rem;
  }
  .para {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .landing-left {
    width: 100%;
    text-align: center;
  }

  .landing-right {
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }

  .iphone {
    left: auto;
    right: auto;
  }

  .heading-1,
  .heading-2 {
    font-size: 3rem;
  }
  .para {
    font-size: 0.8rem;
  }
  .btn-flex {
    justify-content: center;
  }
}