@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
:root{
  --white:#fff;
  --black:#111;
  --blue:rgb(48, 132, 228) ;
  --grey: rgb(147, 146, 146) ;
  --darkgrey:  rgb(189, 185, 185);
  --green: rgb(61, 161, 61) ;
  --red:  rgb(204, 93, 93) ;
}
body {
  margin: 0;
  font-family: 'Josefin Sans', cursive;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color:var(--white);
}
img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
::selection{
  background-color: var(--blue);
  color:var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  color:yellow;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}
